.editorContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.toolbar {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-bottom: 1px solid #e2e8f0;
}
.textEditor {
    outline: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.textEditorContent {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.toolbarButton {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: white;
    color: #0f172a;
    cursor: pointer;
}
.toolbarButton:hover {
    background-color: #f1f5f9;
}
.toolbarButtonActive {
    composes : toolbarButton;
    background-color : #e2e8f0;
}